*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.title {
    font-size: 1.8rem;
}

.text {
    font-size: 14px !important;
}

.arrow-icon {
    position: relative;
    top: 0.25rem;
}

.card-selection {
    width: 16.5rem;
}

.countrys-name {
    font-size: 16px;
}

.stats {
    font-size: 14px;
    font-weight: 600;
}

